name: dotnet-ci

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  VARS: Release

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Setup .NET
      uses: actions/setup-dotnet@v5

    - name: Restore dependencies
      run: dotnet restore ./GitHubActions-PracticeRepo/GitHubActions-PracticeRepo.csproj

    - name: Build
      run: dotnet build ./GitHubActions-PracticeRepo/GitHubActions-PracticeRepo.csproj --no-restore --configuration $VARS

    - name: Test
      run: dotnet test ./GitHubActions-PracticeRepo.Tests/GitHubActions-PracticeRepo.Tests.csproj --no-build --logger "console;verbosity=detailed" --configuration $VARS