name: dotnet-ci

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Setup .NET
      uses: actions/setup-dotnet@v5

    - name: ls
      run: ls -la

    - name: build
      run: dotnet build ./GitHubActions-PracticeRepo/GitHubActions-PracticeRepo.csproj