name: Context dump

on:
  workflow_dispatch:

jobs:
  context-dump:
    runs-on: ubuntu-latest
    steps:
    - name: dump context
      run: echo '${{ toJSON(github) }}'

    - name: dump event context
      run: echo '${{ toJSON(github.event) }}'
